<launch>
  <!-- Parameters for the module names, gains, hrdf, etc -->
  <rosparam>
    names: [ "Base", "Shoulder", "Elbow", "Wrist" ]
    families: [ "HEBI" ]
    gains_package: "hebi_cpp_api_examples"
    gains_file: "gains/4_dof_arm_gains.xml"
    hrdf_package: "hebi_cpp_api_examples"
    hrdf_file: "hrdf/4_dof_arm.hrdf"
    home_position: [0, -M_PI*2/5, -M_PI*4/5, -M_PI_2]
  </rosparam>

  <node pkg="hebi_cpp_api_examples" type="arm_node_action" name="arm_node_action" />
</launch>
