<launch>
  <!-- Parameters for the module names, gains, hrdf, etc -->
  <rosparam>
    names: [ "Base", "Shoulder", "Elbow", "Wrist1", "Wrist2", "Wrist3" ]
    families: [ "HEBI" ]
    gains_package: "hebi_cpp_api_examples"
    gains_file: "gains/6_dof_arm_gains.xml"
    hrdf_package: "hebi_cpp_api_examples"
    hrdf_file: "hrdf/6_dof_arm.hrdf"
    home_position: [ 0.01, 2.09439, 2.09439, 0.01, 1.5707963, 0.01 ]
  </rosparam>

  <node pkg="hebi_cpp_api_examples" type="arm_node" name="arm_node" output="screen"/>
</launch>
